<! ––Autores: Vasquez Miguel, Alexandra Ivana & Barandiaran Japaja, Jhossepy Alexander & Marquez Mendez, Andrea Janet.––>
<! ––muestra vista dashboard del usuario––>




<section class="card ajuste">
<div class="card-body">
    <h1>Dashboard</h1>
    
    <br>

    <a href="/dashboard/firstSteps"><button type="button" class="btn btn-info">Primeros pasos</button></a>

    <p></p>
    
    <div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="/img/usuario.jpg" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">Información de Usuario</h5>
        <p class="card-text">Usuario: {{user_global.user}}</p>
        <p class="card-text">Usuario: {{user_global.email}}</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="/img/personal.png" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">Información Personal</h5>
        <p class="card-text">Nombres y Apellidos: {{user_global.names}}, {{user_global.last_names}}</p>
        <p class="card-text">Dirección: {{user_global.address}}</p>
        <p class="card-text">Genero: {{user_global.gender}}</p>
        <p class="card-text">Edad: {{user_global.age}}</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="/img/institucional.png" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">Información Institucional</h5>
        <p class="card-text">Institución: {{institutionName}}</p>
        <p class="card-text">Campus: {{user_global.campus}}</p>
        <p class="card-text">Carrera Universitaria: {{user_global.college_career}}</p>
        <p class="card-text">Ciclo: {{user_global.course}}</p>
        <p class="card-text">Ciclos Inscritos: {{user_global.cycles}}</p>
        </div>
    </div>
    </div>

<br>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/img/viaje.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Control de Viajes</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Viajes Totales: {{tripControl.total_trips}}</li>
            <li class="list-group-item">Viajes Tomados: {{tripControl.taken_trips}}</li>
            <li class="list-group-item">Viajes No Tomados: {{tripControl.untaken_trips}}</li>
        </ul>
    </div>



    




</div>
</section>


